server {
    listen 80;
    listen [::]:80;

    server_name <%= @servername %>;
    root /var/www/html;

    location ^~ /.well-known/acme-challenge {
        allow all;
        default_type text/plain;
    }

    location / {
        return 302 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2 ipv6only=on;
    server_name <%= @servername %>;

    ssl_certificate /etc/letsencrypt/live/<%= @servername %>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<%= @servername %>/privkey.pem;

    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;
    access_log  /var/log/nginx/bigbluebutton.access.log;

    # BigBlueButton landing page.
    <% if @redirect_root_url %>
    # redirect 
    location / {
        return 301 <%= @redirect_root_url %>;
    }
    location /default.pdf {
        root   /var/www/bigbluebutton-default;
    }
    <% else %>
    location / {
        root   /var/www/bigbluebutton-default;
        index  index.html index.htm;
	    expires 1m;
    }
    <% end %>
    # letsencrypt
    location ^~ /.well-known/acme-challenge {
        allow all;
        default_type text/plain;
    }


	# Include specific rules for record and playback
    include /etc/bigbluebutton/nginx/*.nginx;


    # Redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
      root   /var/www/nginx-default;
    }
}

