#
# Use this file to override default entries in /usr/share/bbb-web/WEB-INF/classes/bigbluebutton.properties
#
# THIS FILE IS MANAGED BY CHEF. Change attributes to change this file.
<% @bbb_web.each do |name, value| %>
<%= name %>=<%= native2ascii(value.to_s) %>
<% end %>
